- var title = htmlWebpackPlugin.options.title
- var description = htmlWebpackPlugin.options.description
- var pageURL = htmlWebpackPlugin.options.pageURL
- var ogpImg = htmlWebpackPlugin.options.ogpImg

- var domain = 'http://172.17.13.149:3000'
- var favicon = 'favicon'
- var siteName = 'webGL'
- var fbId = 'XXXXXXX'

meta(charset="UTF-8")
title #{title}
meta(name="viewport" content="width=device-width,user-scalable=yes")
meta(name="format-detection" content="telephone=no")
meta(name="description" content=`${description}`)
link(rel="icon" type="image/vnd.microsoft.icon" href=favicon)

meta(property="og:site_name", content=`${siteName}`)
meta(property="og:title", content=`${title}`)
meta(property="og:description", content=`${description}`)
meta(property="og:image", content=domain + `${ogpImg}`)
meta(property="og:url", content=domain + `${pageURL}`)
meta(property="og:type", content=(title == "home" ? "website" : "article"))
meta(property="og:locale", content="ja_JP")
meta(property="twitter:card", content="card")
meta(property="fb:app_id",content=fbId)

//- CSS
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese")


//- script
//- script(src="/main_bundle.js")
