include ./_config
//- - var page = pagelist['pagelist'];

doctype html
html(lang="ja")
  head
    include ./include/_head

  body(style="opacity: 1 !important;")
    header
      h1 サンプルサイト 画面一覧
    main
      table(cellspacing="0" cellpadding="0" border="0" width="100%")
        tr
          th(width="3%") ID
          th(width="30%") ページ名
          th(width="34%") ファイル名
          th(width="8%") 確認用URL
          th(width="5%") 本番URL
          th(width="20%") ステータス
        //- - var count = 0;
        //- each obj in pagelist
        //-   if obj.title !== "画面一覧"
        //-     - count++;
        //-     tr
        //-       td.center #{count}
        //-       td #{obj.page_title}
        //-       td
        //-         a(href=obj.local_url target="_blank") #{obj.local_url}
        //-       td.center
        //-         a(href=obj.local_url target="_blank") ■
        //-       td.center
        //-         a(href=obj.url target="_blank") ■
        //-       td #{obj.dev_state}
    footer
      p copy&copy; aru Co.,Ltd. All rights reserved
