include ../_config
//- - var page = pagelist['demo4'];

doctype html
html(lang="ja")
  head
    include ../include/_head

  body
    main.wrap
      #demo4
        .section.canvas_wrap
          #canvasCont
            #app
          ul#itemsWrapper
            li.item
              img(src=require("../../img/1.jpg").default, alt="" class="sumb")
              img(src=require("../../img/1_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/2.jpg").default, alt="" class="sumb")
              img(src=require("../../img/2_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/3.jpg").default, alt="" class="sumb")
              img(src=require("../../img/3_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/4.jpg").default, alt="" class="sumb")
              img(src=require("../../img/4_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/5.jpg").default, alt="" class="sumb")
              img(src=require("../../img/5_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/6.jpg").default, alt="" class="sumb")
              img(src=require("../../img/6_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/1.jpg").default, alt="" class="sumb")
              img(src=require("../../img/1_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/2.jpg").default, alt="" class="sumb")
              img(src=require("../../img/2_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/3.jpg").default, alt="" class="sumb")
              img(src=require("../../img/3_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/4.jpg").default, alt="" class="sumb")
              img(src=require("../../img/4_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/5.jpg").default, alt="" class="sumb")
              img(src=require("../../img/5_large.jpg").default, alt="")
            li.item
              img(src=require("../../img/6.jpg").default, alt="" class="sumb")
              img(src=require("../../img/6_large.jpg").default, alt="")

    include ../include/_footer
